<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/quotes"></ion-back-button>
		</ion-buttons>

		<ion-title>{{ quote?.author }}</ion-title>

		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteQuote()" *ngIf="isFavourited">
				<ion-icon color="warning" name="star" slot="icon-only"></ion-icon>
			</ion-button>

			<ion-button (click)="favouriteQuote()" *ngIf="!isFavourited">
				<ion-icon color="warning" name="star-outline" slot="icon-only"></ion-icon>
			</ion-button>

		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content>
	<ion-content>
		<ion-card *ngIf="quote">

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="finger-print-outline" slot="start"></ion-icon>
				ID: {{ quote.quote_id }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="person-outline" slot="start"></ion-icon>
				Author: {{ quote.author }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="tv-outline" slot="start"></ion-icon>
				Series: {{ quote.series }}
			</ion-item>

		</ion-card>
	</ion-content>