<ion-header>
	<ion-toolbar color="primary">
		<ion-buttons slot="start">
			<ion-back-button defaulthref="/tabs/characters"></ion-back-button>
		</ion-buttons>

		<ion-title>{{ character?.name }}</ion-title>

		<ion-buttons slot="end">
			<ion-button (click)="unfavouriteCharacter()" *ngIf="isLiked">
				<ion-icon color="warning" name="heart" slot="icon-only"></ion-icon>
			</ion-button>

			<ion-button (click)="favouriteCharacter()" *ngIf="!isLiked">
				<ion-icon color="warning" name="heart-outline" slot="icon-only"></ion-icon>
			</ion-button>

		</ion-buttons>
	</ion-toolbar>
</ion-header>

<ion-content padding="">
	<ion-card class="movie-card" *ngIf="character">

		<ion-item class="movie-info" lines="none" padding="">
			<img [src]="character.img" >
        </ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="finger-print-outline" slot="start"></ion-icon>
				ID: {{ character.char_id }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="gift-outline" slot="start"></ion-icon>
				Birthday: {{ character.birthday }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="school-outline" slot="start"></ion-icon>
				Occupation: {{ character.occupation }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="heart-half" slot="start"></ion-icon>
				Status: {{ character.status }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="walk" slot="start"></ion-icon>
				Nickname: {{ character.nickname }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="eye-outline" slot="start"></ion-icon>
				Appearance: {{ character.appearance }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="videocam-outline" slot="start"></ion-icon>
				Portrayed by: {{ character.portrayed }}
			</ion-item>

			<ion-item class="movie-info" lines="none">
				<ion-icon color="warning" name="tv-outline" slot="start"></ion-icon>
				Category: {{ character.category }}
			</ion-item>

	</ion-card>
</ion-content>
