// Source: https://www.w3schools.com/css/css3_images.asp

.container-card {
    padding: 10px 10px;
}

.picture {
    border: .1px solid lightgray;
    border-radius: 10%;
    margin-left: auto;
    margin-right: auto;
    display: block;
}
.subtitle {
    text-align: center;
}
