<!--Tabs-->
<ion-tabs>
	<ion-tab-bar color="primary" slot="bottom">

		<!--Button for episodes-->
		<ion-tab-button tab="episodes">
			<ion-icon name="list-circle"></ion-icon>
			<ion-label>Episodes</ion-label>
		</ion-tab-button>

		<!--Button for characters-->
		<ion-tab-button tab="characters">
			<ion-icon name="people"></ion-icon>
			<ion-label>Characters</ion-label>
		</ion-tab-button>

		<!--Button for quotes-->
		<ion-tab-button tab="quotes">
			<ion-icon name="chatbubbles"></ion-icon>
			<ion-label>Quotes</ion-label>
		</ion-tab-button>

		<!--Button for deaths-->
		<ion-tab-button tab="deaths">
			<ion-icon name="skull"></ion-icon>
			<ion-label>Deaths</ion-label>
		</ion-tab-button>

	</ion-tab-bar>
</ion-tabs>