<!--Source: Mikhail Tutorial Video wk12 & Building an Ionic Framework Camera App-->
<!--Link: https://capacitor.ionicframework.com/docs/guides/ionic-framework-app/-->

<!--Page Header-->
<ion-header>
	<ion-toolbar color="primary">
		<ion-title>Camera</ion-title>
	</ion-toolbar>
</ion-header>

<!--Page Content-->
<ion-content>
	<img [src]="photo" >

	<ion-fab vertical="bottom" horizontal="center" slot="fixed">
		<ion-fab-button (click)="takePicture()">
			<ion-icon name="camera"></ion-icon>
		</ion-fab-button>
	</ion-fab>
</ion-content>